Proyecto/ETNA/ETNA.MVC/Service References/FabricacionServices/FabricacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FabricacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6078/FB/FabricacionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6078/FB/FabricacionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6078/FB/FabricacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.Domain" />
      <xsd:import schemaLocation="http://localhost:6078/FB/FabricacionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.FB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFabricacionService_TB_PR_SolicitudProduccion_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:TB_PR_SolicitudProduccion_Listar" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_TB_PR_SolicitudProduccion_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:TB_PR_SolicitudProduccion_ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_InsertarLote_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLote" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_InsertarLote_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_EditarLote_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarLote" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_EditarLote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_EliminarLote_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLote" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_EliminarLote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_ListaLotes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaLotes" />
  </wsdl:message>
  <wsdl:message name="IFabricacionService_ListaLotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaLotesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFabricacionService">
    <wsdl:operation name="TB_PR_SolicitudProduccion_Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricacionService/TB_PR_SolicitudProduccion_Listar" message="tns:IFabricacionService_TB_PR_SolicitudProduccion_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricacionService/TB_PR_SolicitudProduccion_ListarResponse" message="tns:IFabricacionService_TB_PR_SolicitudProduccion_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarLote">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricacionService/InsertarLote" message="tns:IFabricacionService_InsertarLote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricacionService/InsertarLoteResponse" message="tns:IFabricacionService_InsertarLote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarLote">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricacionService/EditarLote" message="tns:IFabricacionService_EditarLote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricacionService/EditarLoteResponse" message="tns:IFabricacionService_EditarLote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLote">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricacionService/EliminarLote" message="tns:IFabricacionService_EliminarLote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricacionService/EliminarLoteResponse" message="tns:IFabricacionService_EliminarLote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaLotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricacionService/ListaLotes" message="tns:IFabricacionService_ListaLotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricacionService/ListaLotesResponse" message="tns:IFabricacionService_ListaLotes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFabricacionService" type="tns:IFabricacionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TB_PR_SolicitudProduccion_Listar">
      <soap:operation soapAction="http://tempuri.org/IFabricacionService/TB_PR_SolicitudProduccion_Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarLote">
      <soap:operation soapAction="http://tempuri.org/IFabricacionService/InsertarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarLote">
      <soap:operation soapAction="http://tempuri.org/IFabricacionService/EditarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLote">
      <soap:operation soapAction="http://tempuri.org/IFabricacionService/EliminarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaLotes">
      <soap:operation soapAction="http://tempuri.org/IFabricacionService/ListaLotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FabricacionService">
    <wsdl:port name="BasicHttpBinding_IFabricacionService" binding="tns:BasicHttpBinding_IFabricacionService">
      <soap:address location="http://localhost:6078/FB/FabricacionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>