Proyecto/ETNA/ETNA.MVC/Service References/FabricacionServices/FabricacionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETNA.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETNA.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTB_PR_SolicitudProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_PR_SolicitudProduccion" nillable="true" type="tns:TB_PR_SolicitudProduccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_PR_SolicitudProduccion" nillable="true" type="tns:ArrayOfTB_PR_SolicitudProduccion" />
  <xs:complexType name="TB_PR_SolicitudProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantInsumos" type="xs:int" />
      <xs:element minOccurs="0" name="CantMaquinaria" type="xs:int" />
      <xs:element minOccurs="0" name="CantPersonal" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoSol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecSol" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Glosa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObsSol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanId" type="xs:int" />
      <xs:element minOccurs="0" name="ResponsableId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitanteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudProdId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupervisorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_PR_SolicitudProduccion" nillable="true" type="tns:TB_PR_SolicitudProduccion" />
</xs:schema>